<h1>Carrito de Compras</h1>

<div>
    <p>Productos en el carrito: {{ cantidadProductos }}</p>
    <p>Total: ${{ totalCarrito.toFixed(2) }}</p>
    <button (click)="agregarAlCarrito()">Añadir al carrito</button>
    <button (click)="agregarCincoUnidades()">Añadir 5 unidades</button>
    <button (click)="borrarProducto()">Borrar producto</button>
    <button (click)="aplicarCupon()">Aplicar cupon del 10% de descuento</button>
    <button (click)="limpiarCarrito()">Limpiar carrito</button>
</div>

<!-- Notificación de acciones realizadas -->
@if (notificacion) {
  <div class="notificacion">
    <strong>Notificaciones</strong>
    <p>{{ notificacion }}</p>
  </div>
}