/* You can add global styles to this file, and also import other style files */
h1 {
    color: blue;
}

p {
    font-size: 20px;
    color: rgb(17, 102, 74);
}
.resaltar{
    background-color: orange;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

.destacarmenos{
    background-color: gray;
    padding: 10px;
    font-style: italic;
}

.notificacion{
    margin-top: 7px;
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    text-align: center;
}